* {
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.container {
  width: 80%;
  margin: 140px auto 0;
}
a {
  text-decoration: none;
  color: #9ca3af;
}
ul {
  list-style: none;
  padding: 0;
}
.hero_content,
.hero_image {
  float: left;
  width: 43%;
}
.hero_content {
  margin-right: 14%;
}
.hero_image {
  margin-left: auto;
}
.hero_content h1 {
  margin: 0 0 10px;
  font-size: 55px;
  font-weight: 800;
  line-height: 1.3;
}
.hero_content p {
  color: #424141;
  margin-bottom: 20px;
  line-height: 2.1;
  font-size: 20px;
}

.hero_content button {
  border-radius: 10px;
  cursor: pointer;
}
.one {
  background-color: #101828;
  color: white;
  font-weight: 500;
  font-size: 19px;
  margin-right: 20px;
  padding: 20px 30px;
}
.two {
  background-color: white;
  font-weight: 500;
  font-size: 19px;
  padding: 20px 30px;
  border: 2px solid #cfc1c1;
  color: #364153;
}

.hero_image img {
  width: 80%;

  border-radius: 15px;
  text-align: center;
}
.clr {
  clear: both;
}

/* why-choose-us section */

.title {
  text-align: center;
  margin-bottom: 70px;
}
.title h2 {
  font-size: 35px;
  font-weight: 800;
}
.title p {
  margin: 0 auto;
  color: #424141;
  font-size: 19px;
  width: 80%;
  line-height: 1.7;
  word-spacing: 1.6;
}

.benefit-cars .card {
  float: left;
  width: 30%;
  text-align: center;
  padding: 32px;
  border-radius: 10px;
  min-height: 280px;
  box-sizing: border-box;
}
.card1 {
  background-color: #dbeafe;
  border: 1px solid #bfdbfe;
  margin-right: calc(10% / 2);
}
.card2 {
  background-color: #d1fae5;
  border: 1px solid #a7f3d0;
  margin-right: calc(10% / 2);
}
.card3 {
  background-color: #f3e8ff;
  border: 1px solid #f5d0fe;
}

.benefit-cars .card .square {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  position: relative;
  margin: 0 auto 20px;
}
.card1 .square {
  background-color: #155dfc;
}
.card2 .square {
  background-color: #009966;
}
.card3 .square {
  background-color: #9810fa;
}
.square .inner-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

.card2 .square .inner-shape {
  border-radius: 50%;
}
.card h3 {
  margin-bottom: 15px;
}
.card p {
  color: #4a5565;
  word-spacing: 1.6;
  line-height: 1.6;
  font-size: 14px;
}
.benefit-cars {
  margin-bottom: 80px;
}
.more-benefits .image,
.more-benefits .content {
  float: left;
  width: 48%;
  height: 370px;
}
.more-benefits .image {
  margin-right: 4%;
}
.more-benefits .image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* دي جديدة => في حالة اني استخدمت طول وعرض مع بعض  */
  border-radius: 10px;
}
.more-benefits .content h2 {
  margin-top: 0;
  font-size: 30px;
}
.content .nested-content {
  border-left: 4px solid #101828;
  padding-left: 24px;
  margin: 0 0 50px;
}
.content .nested-content h4 {
  margin: 0;
}
.content .nested-content p {
  color: #4a5565;
}

/* testimonials section */

.testimonials {
  background-color: #fbf9fa;
}
.testimonials .reviews .card {
  float: left;
  border-radius: 12px;
  padding: 32px;
  height: 260px;
  width: 32%;
  box-sizing: border-box;
}

.reviews .avatar1 {
  background-color: #f0f6ff;
  border: 1px solid #cdd9f3;
  margin-right: 2%;
}
.reviews .avatar2 {
  background-color: #f2fbf7;
  border: 1px solid #9bf3cf;
  margin-right: 2%;
}
.reviews .avatar3 {
  background-color: #fbf2fb;
  border: 1px solid #f2c7f0;
}
.card .card-header {
  margin-bottom: 20px;
}
.author-image {
  width: 26%;
  margin-right: 5%;
}
.author-image img {
  width: 95%;
  border-radius: 50%;
  text-align: center;
}
.author-info {
  width: 59%;
  text-align: left;
}
.author-image,
.author-info {
  float: left;
}
.author-info h4 {
  margin: 0;
}
.author-info p {
  font-size: 16px;
}
/* i need to edit the  */
.card-body p {
  font-size: 15px;
}

.statistics {
  background-color: #f1f5f9;
  border: 1px solid #e2e8f0;
  margin-top: 50px;
  border-radius: 12px;
  padding: 48px;
  box-sizing: border-box;
  text-align: center;
  min-height: 160px;
}
.statistics div {
  float: left;
  width: 20%;
}
/* by searching on the selectors and we can replace it by puting class on them and select them */
.statistics div:not(:nth-last-of-type(2)) {
  margin-right: calc(20% / 3);
}

.statistics span {
  font-size: 32px;
  font-weight: 800;
}
.statistics p {
  color: #4a5565;
  font-size: 15px;
}

/* membership-form  section*/

/* a new container that is suitable for the form */
.membership-form .container form {
  box-sizing: border-box;
  width: 70%;
  margin: auto;
}

form {
  background-color: #fbf9fa;
  padding: 48px;
  border-radius: 20px;
  font-size: 18px;
  color: #101828;
}
.form > div {
  /* the direct child      جديدة لسه هناخدها في السيلكتورز*/
  margin-bottom: 25px;
}
.first-name,
.last-name {
  float: left;
  width: 47%;
}
.first-name {
  margin-right: 6%;
}
.first-name input,
.last-name input {
  box-sizing: border-box; /*width لانه واخد باديندج فبيتحسب من ال  fist-name, last-name عشان الانبوت ميعديش الاب بتاعه اللي هوا  */
  width: 100%;
  border: none;
  padding: 16px 24px;
  border: 1px solid #d1d5dc;
  border-radius: 8px;
}
label {
  display: block;
  margin-bottom: 10px;
}
.email input,
.phone input,
.membership select,
.fitness-goals textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 16px 24px;
  border: 1px solid #d1d5dc;
  border-radius: 8px;
}
.fitness-goals textarea {
  resize: none;
  min-height: 90px;
}
.form .button {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 20px;
}
.form p {
  text-align: center;
  font-size: 14px;
  color: #4a5565;
  margin-top: 30px;
}

/* Footer Section */

/*  فيه مشكلة في حوار البادينج و المارجين و الكونتينر */
.footer {
  background-color: #101828;
  padding: 80px 62px;
}
.footer .container {
  width: 90%;
  margin: 0 auto;
}
.footer-content {
  padding-bottom: 40px;
  border-bottom: 1px solid #99a1af;
}
.footer-info {
  float: left;
  width: 50%;
  margin-right: 3%;
}
.quick-links {
  float: left;
  width: 20%;
  margin-right: 1%;
}
.contact-info {
  float: left;
  width: 26%;
}

.footer-info h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.footer-info p {
  color: #99a1af;
  word-spacing: 1.6;
  line-height: 1.6;
  font-size: 18px;
}
.footer-info a {
  margin-right: 20px;
  margin-top: 15px;
  display: inline-block;
}
.quick-links h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}
.quick-links ul li {
  margin-bottom: 15px;
}
.contact-info h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6;
}

.contact-info .text {
  margin-bottom: 15px;
}
.contact-info .text h5 {
  margin: 0 0 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.contact-info .text div {
  color: #99a1af;
}

/* copy right section */

.copyright .copy {
  float: left;
}
.copyright .copy p {
  color: #99a1af;
  font-size: 12px;
}
.copyright .links {
  float: right;
  margin-top: 12px;
}
.copyright .links a {
  margin-right: 10px;
  font-size: 12px;
  display: inline-block;
}
